.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 3rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-light);
  background-color: var(--color-blue);
  border: var(--border);
  border-radius: var(--border-radius-small);

  @include hover {
    color: var(--color-dark);
    background-color: 
    var(--color-light);
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &--light {
    color: var(--color-blue);
    background-color: var(--color-light);
    
    @include hover {
      color: var(--color-light);
      background-color: var(--color-blue);
    }
  }
}