.link {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.2em;


  span {
    content: '';
    position: absolute;
    background-image: url(../../images/icons/more.svg);
    width: 36px;
    height: 36px;
    top: -40%;
    left: 110%;
  }
}



