.partners {
  margin-top: 1rem;
  background-color: var(--color-pink-alt);
  display: flex;
  justify-content: center;

  &__inner {
    padding-block: 4rem;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5rem;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem;
    }

    @include mobile-s {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 5rem;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}