.read{
  margin-bottom: 9.5rem;
  display: flex;
  justify-content: center;

  &__inner {
    @include tablet {
      padding: 0;
    }
  }

  &__list {
    margin-top: -1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.9rem;

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }

  &-card {
    &__image {
      border-radius: var(--border-radius-small);
      margin-bottom: 1.6rem;
      width: 100%;
    }

    &__data-wrapper {
      font-size: 13px;
      font-weight: 600;
      line-height: 1.92346;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      color: var(--color-red-text);
      margin-bottom: 0.5rem;
    }

    &__title {
      font-size: 27px;
      line-height: 1.296;
      letter-spacing: -1.5px;
      margin-bottom: .7rem;
    }

    &__description {
      line-height: 1.667;
      color: var(--color-dark);
      margin-bottom: 1.5rem;
    }


  }
}