.request {
  background-color: var(--color-blue-light);

  &__inner {
    display: grid;
    grid-template-columns: 1.11fr 1fr;
   

    @include desktop-l {
      column-gap: 2rem;
    }
    
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 970%, 100% 0%, 0% 0%, 0% 0%);

    @include tablet {
      clip-path: none;
    }
  }

  &__info {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop-l {
      padding-block: 2rem;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__info-wrapper {
    margin-left: -2.4rem;
    width: 100%;
    max-width: 40rem;

    @include tablet {
      margin: 0;
      padding: 2rem 3rem 2rem 3rem;
    }
  }

  &__title {
    line-height: 1.257;
    letter-spacing: -2px;
    margin-bottom: .6rem;
  }

  &__description {
    font-size: 19px;
    line-height: 1.57895;
    color: var(--color-dark);
    margin-bottom: 2.6rem;
  }

  &__form-wrapper {
    max-width: 40rem;
    width: 100%;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-bottom: 1.26rem;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__input {
    padding: 13px 22px;
    width: 100%;
    border: var(--border);
    border-radius: 4px;
  }

  &__input::placeholder {
    color: var(--color-dark) !important;
    text-transform: none;
    letter-spacing: -.1px;
    font-size: 15px;
  }

  &__textarea {
    height: 6.1rem;
    resize: none;
    border: var(--border);
    border-radius: 4px;
    margin-bottom: 1.26rem;
  }

}