.section {
  padding: 8.75rem 11.625rem 0rem;

  @include desktop-l {
    padding: 3rem 1rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5rem;

    @include mobile {
      margin-bottom: 3rem;
    }
  }

  &__above-title {
    
    font-weight: 600;
    font-size: 13px;
    line-height: 1.92346;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--color-red-text);
  }

  &__title {
    font-family: var(--font-family-base);
    letter-spacing: -3px;
    line-height: 1.154;
    margin-bottom: 0.6rem;
  }

  &__description {
    max-width: 50rem;
    font-size: 19px;
    line-height: 1.57895;
    color: var(--color-dark);
    text-align: center;
  }
}