.team {
  display: flex;
  justify-content: center;
  margin-bottom: 9.3rem;

  @include desktop {
    margin-bottom: 3rem;
  }
  
  &__list {
    margin-top: -3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.1rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      
    }
  }
  
  &__link {
    position: relative;

    span {
      content: '';
      background-image: url(../../images/team/5.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50px;
      left: -5%;
      width: 40px;
      height: 40px;
      display: block;
    }
  }

 

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;

    @include tablet {
      row-gap: 1rem;
    }
  }

  &__image {
    width: 100%;
    
  }

  &__name {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.316;
    letter-spacing: -1px;
  }

  &__post {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.667;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--color-red-text);
  }
}