.working {
  margin-bottom: 9.19rem;
  display: flex;
  justify-content: center;
  position: relative;

  @include mobile {
    margin-bottom: 4rem;
  }

  

  &__chat {
      content: '';
      position: absolute;
      background-image: url(../../images/Chat.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 6.625rem;
      height: 3.1rem;
      top: 15%;
      left: 93%;

      @include desktop-l {
        left: 85%;
      }
      @include mobile {
        left: 70%;
        top: 26%;
      }
    }
  

  
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 25.81rem);
    column-gap: 1.9rem;
    
    @include desktop-l {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
    }
    @include desktop {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }

  &__image {
    margin-bottom: 1.55rem;
    width: 100%;
  }

  &__title {
    font-size: 27px;
    line-height: 1.296;
    max-width: 25rem;
    letter-spacing: -1px;
    margin-bottom: .7rem;
  }

  &__description {
    font-size: 15px;
    line-height: 1.667;
    color: var(--color-dark);
    margin-bottom: 2rem;
  }

  &__link-wrapper {
    display: flex;
    column-gap: 3rem;
    align-items: center;
  }



}