.working-hours {
  
  &__body {
    padding: 4rem 2.5rem 2.5rem;
    background-color: var(--color-pink-alt);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
  }

  &__title {
    font-family: var(--font-family-alt);
    font-size: 35px;
    letter-spacing: -2px;
    line-height: 0.71429;
    color: #1e2d78;
    margin-bottom: 2.3rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  

    time {
      text-transform: uppercase;
    }
  }

  &__bottom {
    background-color: var(--color-blue-text);
    padding: 1.8rem 6.5rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.25;
    color: #fff;
    text-align: center;

    @include mobile {
      padding-inline: 2rem;
    }
  }
}