@import 
'normalize',
'fonts',
'mixins',
'media',
'variables',
'utils',
'globals';

@import 
'blocks/header',
'blocks/burger-button',
'blocks/cross-button',
'blocks/mobile-overlay',
'blocks/field',
'blocks/hero',
'blocks/hero-slider',
'blocks/hero-slide',
'blocks/swiper',
'blocks/button',
'blocks/working',
'blocks/link',
'blocks/accordion',
'blocks/_working-hours',
'blocks/advantages',
'blocks/fully',
'blocks/section',
'blocks/testimonials',
'blocks/discount',
'blocks/fast',
'blocks/team',
'blocks/request',
'blocks/read',
'blocks/partners';